<html lang="en">
<head></head>
<style>


</style>
<body>
<div style="background: #4e342e ;">
    <center>

        <img style="width:50%"
             src="https://www.saarang.org/img/logo.png"/>

    </center>

</div>
<div>

    

            <p><strong>Greetings from Saarang 2020,</strong></p>
            <p>Your payment for the accommodation request was successful. The accommodation for your team <strong> <%= team_name %></strong> is confirmed during the period<strong> <%= arr_date %></strong>  to  <strong><%= dep_date %></strong> for <strong><%= cnf_count %></strong> participant(s). 
            Please go through our <a href="https://filestore.guideline52.hasura-app.io/v1/file/d8b44ec6-bbff-4ccf-a125-8f8f649d45d1" target="_blank">TERMS AND CONDITIONS</a>.</p>
 
            <p>NOTE:
                    To participate in Saarang Events, you'll need to avail a pass. This pass is applicable for all events excluding eSports, Lectures and Demonstrations, Pokemon Showdown, Workshops and AdZone. To avail it you can get your pass online on our website (<a target="_blank" href="https://api.saarang.org/alleventpass">https://api.saarang.org/alleventpass</a>
                    )  or from our saarang app! There are multiple fun events to watch and take part in at saarang. You can find the events schedule <a target="_blank" href="https://docs.google.com/spreadsheets/u/5/d/1O3POdmIDDaejuTUVLvQz6A4J-9J4AZwEf1nXpbttcl0/edit?usp=sharing">here</a>. If you have any queries or clarifications feel free to reach out to queries@saarang.org.
            </p>
            <p>Regards</p>
            <p>Hospitality Team</p>
            <p>IIT Madras</p>
        <center>
        <br>
        <p>
            Get the Saarang Offical Mobile Apps
        </p>
        <a href="https://play.google.com/store/apps/details?id=org.saarang.app&hl=en_IN" target="_blank">
            <img src="https://www.google.com/intl/en-IN/cast/about/static/images/download-badges/android-download.png" style="width: 30%;height: auto">

        </a>
        <a href="https://itunes.apple.com/us/app/saarang/id1330403407?ls=1&mt=8" target="_blank">
            <img src="https://res.cloudinary.com/gallerysaarang/image/upload/v1546680436/appstore_qflbwn.svg" style="width: 30%;height: auto">

        </a>
        <br>
        </center>
</div>
<div>
    <center>
        <h5>Accomodation Payment Confirmation</h5>
    </center>
</div>
<div>
    <center>
        <strong>Saarang ID: </strong> <%= saarang_id %><br>
        <strong>Payment ID: </strong> <%= payment_id %><br>
        <strong>Name : </strong> <%= user_name %><br>
    </center>
</div>
<div style="background: #212121 ;margin-top: 5%;margin-bottom: 30%; color: white; padding: 5% 0 4% 0">
        <span>
            <center>
<strong>

        Terms and conditions:
</strong>

            </center>
            <ul>
                <li>The accommodation will be provided inside IIT MADRAS only when the printout of accommodation confirmation e-mail is shown at the Hospitality control room at the time of accommodation.</li>
                <li>This confirmation email will be sent to the team leader only after payment.</li>
                <li>After payment there will be no edit team option and no person other than the team members will be provided accommodation.</li>
                <li>Pass is not share able so no sneaking in other people.</li>
                <li>Accommodation will be provided only during the period requested at the time of payment.</li>
                <li>For any queries, mail ynikhil358@saarang.org and queries@saarang.org</li>
            </ul>
        </span>
</div>

</body>
</html>