<!DOCTYPE html>
<html>

<head>
	<title>Upgrade Pop Night Ticket</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</head>
<style type="text/css">
	.custom-nav {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		padding: 10px;
		height: 45px;
		background-color: #0f2c59;
		color: white;
		display: flex;
		justify-content: space-between;
		z-index: 999;
	}

	.container {
		margin-top: 50px;
		margin-bottom: 100px;
	}

	.custom-link {

		color: white;
	}

	.custom-holder {
		padding: 10px;
		display: flex;
		justify-content: space-between;
	}
</style>

<body>
	<div class="custom-nav">
		<span class="custom-link">Saarang 2020</span>
		<span onclick="logout()" class="" style="cursor: pointer;">
			Logout
		</span>
	</div>
	<div class="container">
		<div class="card" style="max-width: 900px;">
			<img src="https://res.cloudinary.com/saarang-2020/w_auto,c_scale/Pop_Poster.jpg" class="card-img-top"
				alt="poster">
			<div class="card-body">
				<h5 class="card-title">Popular Night - Shankar Mahadevan</h5>
				<div class="custom-holder">
					<span><input type="radio" name="chairType" value="<%=prices.Silver%>" checked="true">
						Silver Chair Rs.
						<%=prices.Silver%></span>
					<span><input type="radio" name="chairType" value="<%=prices.Gold%>"> Gold Chair Rs.
						<%=prices.Gold%></span>
					<span><input type="radio" name="chairType" value="<%=prices.Platinum%>"> Platinum Chair Rs.
						<%=prices.Platinum%></span>
				</div>
				<button onclick="submit()" class="btn btn-primary">Confirm</button>
			</div>
		</div>
	</div>

	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script type="text/javascript">
		const silver = <%=prices.Silver%>;
		const gold = <%=prices.Gold%>;
		const platinum = <%=prices.Platinum%>;
		const auth_token = "<%= auth_token %>";
		const hasura_id = <%= hasura_id %>;
		function logout() {

			$.ajax({
				type: 'POST',
				url: "https://auth.guideline52.hasura-app.io/v1/user/logout",
				headers: {
					"Content-Type": "application/json",
					"Authorization": "Bearer " + auth_token
				}

			}).done(function (data) {
				alert('Logged out');
				sessionStorage.clear();
				window.location = "https://tickets.saarang.org/";
			});
		}

		function submit() {

			var amount = parseInt($('input[name=chairType]:checked').val())
			var upgraded_to = '';
			console.log(amount)
			switch (amount) {
				case silver: upgraded_to = 'Silver'; break;
				case gold: upgraded_to = 'Gold'; break;
				case platinum: upgraded_to = 'Platinum'; break;
			}
			amount = amount * 1.02
			$.ajax({
				type: 'POST',
				url: "https://api.saarang.org/ticket_sales/upgrade_init",
				headers: {
					"Content-Type": "application/json",
					"auth_token": auth_token
				},
				data: JSON.stringify({
					"upgraded_to": upgraded_to,
					"auth_token":auth_token
				})
			}).done((data) => {
				console.log(data)

				if (data.code === 200) {

					buy(data.amount, data.order_id);
				}
				else {
					alert('Some error occurred! Try again');
					window.location.reload();
				}
			});
		}

		function buy(amount, order_id) {
			console.log(amount, order_id)
			var options = {
				"key": "rzp_live_VgVO9uzPsxViN5",
				"amount": amount * 100,
				"name": "Saarang 2020",
				"currency": "INR",
				"order_id": order_id,
				"notes": {
					"detail": "user " + hasura_id + "upgrade."
				},
				"description": "Tickets for Saarang Proshows 2020",
				"handler": (resp) => {
					if (resp.razorpay_payment_id !== undefined) {
						$.ajax({
							type: 'POST',
							url: "https://api.saarang.org/ticket_sales/upgrade_finish/",
							headers: {
								"Content-Type": "application/json",
								"auth_token": auth_token
							},
							data: JSON.stringify({
								"order_id": resp.razorpay_order_id,
								"payment_id": resp.razorpay_payment_id,
								"signature": resp.razorpay_signature,
								"auth_token":auth_token
							})
						}).done((data) => {

							if (data.code === 200) {
								alert("Payment successful!")
								sessionStorage.clear();
								window.location = "https://tickets.saarang.org/"
							}
							else {
								alert(data.msg)
							}
						});
					}
					else {
						alert(resp.error);
					}
				}
			};
			var rzp = new Razorpay(options)
			rzp.open()
		}
	</script>
</body>

</html>